@using BlazorNitflex.Models

<RadzenFieldset Style="font-size:xx-large">

    <h2 style="font-size: xx-large; color: #333">@Movie.MovieName</h2>

    <div>
        <p style="font-size:medium">@Movie.MovieDescription</p>


        <p style="font-size:small; color:grey">Genre: @Movie.MovieGenre</p>
        <p style="font-size:small; color:grey">Duration: @Movie.MovieDurationInMinutes</p>
        <p style="font-size:small; color:grey">Rentalprice: @Movie.MovieRentalPrice</p>
    </div>
    <div>
        <RadzenButton Text="Rent for one week" Style="background-color: rebeccapurple" Click="@OnRentMovieButton"/>
        <RadzenButton Text="Watch" Style="background-color: mediumpurple" Click="@OnWatchMovieButton"/>
    </div>
</RadzenFieldset>


@code {
    [Parameter] public MovieItem Movie { get; set; }
    [Parameter] public EventCallback<Guid> OnRentMovie { get; set; }
    [Parameter] public EventCallback<Guid> OnWatchMovie { get; set; }

    //Sends movie ID back to parent to rent movie
    private async Task OnRentMovieButton()
    {
        await OnRentMovie.InvokeAsync(Movie.Id);
    }

    private async Task OnWatchMovieButton()
    {
        await OnWatchMovie.InvokeAsync(Movie.Id);
    }
}
